html, body {
  margin:0;
  padding:0;
  height:100%;
  font-family: 'Open Sans', sans-serif;
  background-color: #fffaf0;
}

h1 {
  color: #1e2023;
  font-size: 40px;
}

h2 {
  font-size: 20px;
  color: #494c51;
  font-weight: 100;
}

.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

#page-title {
  display: block;
  float: left
}

.sidenav {
  height: 100%;
  width: 400px;
  background-color: #8198c6;
  top: 0;
  left: 0;
  position: fixed;
}

.sidenav .sidenav-content {
  padding: 40px 0px 0px 30px;
}

.sidenav .sidenav-content .create-room-button {
  border: none;
  background-color: #fffaf0;
  font-size: 18px;
  cursor: pointer;
  width: 110px;
  height: 35px;
  display: block;
  margin: 35px 0px 0px 45px;
  float: left;
}

.sidenav .sidenav-content .room-name {
  cursor: pointer;
}

.room-header {
  margin: 80px 0px 30px 450px;
  font-size: 26px;
  font-weight: 900;
}

.ind-message {
  display: block;
  height: 100px;
  padding-top: 20px;
}

.ind-message .username {
  margin-left: 450px;
  float: left;
  font-weight: 600px;
  font-size: 20px;
  margin-bottom: 5px;
  letter-spacing: 1.5px;
}

.ind-message .message-content {
  margin: 0px 0px 20px 450px;
  #494c51
}

.sent-time {
  text-align: right;
  margin: 17px 50px 0px 0px;
  float: right;
  font-style: italic;
}

.odd {
  background-color: #ffffff;
}

.even {
  background-color: #fffaf0;
}
