<div class="sidenav">
  <section class="sidenav-content">
    <h1 id="page-title">Bloc Chat</h1>
    <button class="create-room-button" type="button" ng-click="home.addRoom()">New Room</button>
    <div class="cf"></div>
    <h2 class="room-name" ng-click="home.setCurrentRoom(room)" ng-repeat="room in home.rooms">{{ room.name }}</h2>
  </section>
</div>

<div class="message-view">
  <h3 class="room-header">{{ home.currentRoom.name }}</h3>
  <div ng-repeat="message in home.messages">
    <div class="ind-message" ng-class-odd="'odd'" ng-class-even="'even'">
      <div class="username">{{ message.username }}</div>
      <div class="sent-time">{{ message.sentAt }}</div>
      <div class="cf"></div>
      <div class="message-content">{{ message.content }}</div>
    </div>
  </div>
</div>
